{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="about">
    <h1>About</h1>
    <p>&emsp;Technotopia is a blog all about providing our readers with the latest and greatest in science and technology.
        Additionally, we publish extra articles on various topics unrelated to tech and science which you can find in the 'Extras' tab of our blog.
        If you enjoy our blog and have had a good experience with Technotopia, please share the blog with your friends and family so that we can keep growing and 
        spreading the knowledge and passion we all have for science and technology.
    </p>
    <br>
    <br>
    <br>
    <br>
    <div class="social-media">
        <h1>Social Media</h1>
        <br>
        <div class="buttons-div">
            <a href="https://www.instagram.com/technotopia.blog/"><button class="social-button insta">Instagram</button></a>
            <a href="https://twitter.com/"><button class="social-button twitter">Twitter</button></a>
        </div>
    </div>
    <br>
    <h1>Contact Us Directly</h1>
    <br>
    <h3>Email:</h3>
    <a href="mailto:technotopia.blog@gmail.com"><p>technotopia.blog@gmail.com</p></a>
    <br>
    
    
</div>
{% endblock content %}