{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="about">
    <h1>About</h1>
    <p>&emsp;The News Explained is exactly what the name sounds like. At The News Explained we dig deeper into today's most popular
        news stories to give our readers the full history behind every big headline.
    </p>
    <br>
    <br>
    <br>
    <br>
    <div class="social-media">
        <h1>Social Media</h1>
        <br>
        <div class="buttons-div">
            <a href="https://www.instagram.com/technotopia.blog/"><button class="social-button insta">Instagram</button></a>
            <a href="https://twitter.com/"><button class="social-button twitter">Twitter</button></a>
        </div>
    </div>
    <br>
    <h1>Contact Us Directly</h1>
    <br>
    <h3>Email:</h3>
    <a href="mailto:technotopia.blog@gmail.com"><p>technotopia.blog@gmail.com</p></a>
    <br>
    
    
</div>
{% endblock content %}