{% extends "blog/base.html" %}
{% load static %}


{% block content %}
<div class="subscribe">
    <h1> Subscribe to the Weekly Newletter</h1>
    <form action="{% url 'email' %}" method="POST">
        {% csrf_token %}
        <div class="form">
        {% for field in form %}
            <label>{{ field.label_tag }}</label>
            {{ field }}
        {% endfor %}
        </div>
        <input class="button" type="submit" value="Subscribe"></button>
    </form>
</div>
<div class="about-subscribe">
    <h1>About the Newsletter</h1>
    <p>The weekly newsletter is a condensed compilation of all the latest and greatest in science and technology sent straight to your inbox.</p>
    <p>If you wish to unsubscribe, you can do so at any time by following the link contained in the newsletter.</p>
</div>
{% endblock content %}